@(lForm: Form[LetterCarry],  lcList: List[LetterCarry])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(bootstrapInput.render) }

@main("New LC") {

    <h1>New LC</h1>

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }
    @if(flash.containsKey("danger")) {
        <div class="alert alert-danger">
            <strong>Oops!</strong> @flash.get("danger")
        </div>
    }

    @form(routes.Application.letterCarryWriteNew(), 'class -> "form-horizontal") {

        <fieldset>
            @select(
                lForm("letter.id"), 
                options(Letter.options), 
                '_label -> "Letter", '_default -> "-- Choose --",
                '_showConstraints -> false
            )
            
            @select(
                lForm("next.id"), 
                options(Letter.options), 
                '_label -> "Next", '_default -> "-- Choose --",
                '_showConstraints -> false
            )
            
            @inputText(lForm("frequency"), '_label -> "Frequency", '_help -> "default:0.1")

        </fieldset>

        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>

    }
    
    <h2>Currently availables:</h2>
    
    <div  class="container">
    <table class="carrytable table table-striped">
        <tbody>
        @for(l <- lcList) {
            <tr>
            <td>
	            @l.letter.letter
            </td>
            <td>
	            @l.next.letter
            </td>
            <td>
            	@l.frequency
            </td>
            <td>
            	<a href="@routes.Application.letterCarryEdit(l.id)" class="text-primary">Edit</a>
            	<a href="@routes.Application.letterCarryDelete(l.id)" class="text-danger">Remove</a>
            </td>
            </tr>
        }
        </tbody>
    </table>
    </div>

}
